---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
    <h1 class="text-5xl font-bold text-blue-600">
      我的第一个网站
    </h1>

    <p class="mt-4 text-lg">
      欢迎访问我的网站
    </p>
  </div>
</Layout>