---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen bg-black flex items-center justify-center">
    <h1 class="text-6xl font-bold text-cyan-400">
      CLZ
    </h1>
  </div>
</Layout>